/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */
body{
    font-family:Arial,sans-serif;
    background:#f2f2f2;
    min-height:100vh;
    animation:pageFade .5s ease;
}

/* ANIMATION */
@keyframes pageFade{
    from{
        opacity:0;
        transform:scale(.98);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

/* HEADER */
header{
    background:#0b8f2a;
    color:white;
    padding:25px;
    text-align:center;
    font-size:32px;
    font-weight:bold;
}

/* CONTAINER */
.container{
    width:95%;
    max-width:1200px;
    margin:25px auto;
}

/* CARDS */
.card{
    display:block;
    width:100%;
    background:white;
    padding:28px;
    margin-bottom:20px;
    border-radius:18px;
    text-decoration:none;
    color:#222;
    font-size:24px;
    font-weight:bold;
    box-shadow:0 5px 15px rgba(0,0,0,.12);
    transition:.3s;
}

.card:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}

/* CALCULATOR */
h2{
    text-align:center;
    color:#0b8f2a;
    font-size:34px;
    margin:20px 0;
}

input{
    width:100%;
    padding:18px;
    margin-bottom:18px;
    font-size:20px;
    border:1px solid #ccc;
    border-radius:10px;
}

button{
    width:100%;
    padding:18px;
    background:#0b8f2a;
    color:white;
    border:none;
    border-radius:10px;
    font-size:20px;
    cursor:pointer;
}

button:hover{
    background:#06701f;
}

#out{
    margin-top:25px;
    text-align:center;
    font-size:24px;
    font-weight:bold;
}
